/* 
    Created on : 10-Nov-2020, 13:20:20
    Author     : Adam Watson
*/

button:disabled:hover, a:disabled:hover {
    cursor: not-allowed;
}

#stocks-search-btn {
    padding-right: 22px;
}

#stocks-search-btn-spacer {
    padding-left: 6px;
}

#stocks-search-btn-arrow {
    transition: all 0.5s;
    position: absolute;
}

#stocks-search-btn-arrow.active {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
}

.c-stock-img-cell {
    width: 1% !important;
    padding-right: 0 !important;
}

.c-company-logo {
    width: 48px;
    height: 48px;
    border-radius: 6px;
}

.c-clickable-row {
    cursor: pointer;
}

.c-single-line {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

.c-article-description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.c-news-item-container {
    margin-left: 0px;
    margin-right: 0px;
}

.c-news-item-container > div[class^='col-'] {
    padding-left: 5px;
    padding-right: 5px;
}